.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 30px;
  height: 52px;
  background-color: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-bg);
}
