.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
  max-width: 100%;
}
/* планшетна версія */

@media screen and (min-width: 768px) {
  .container {
    padding: 0 35px;
  }
}
/* десктопна версія */

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 128px;
    max-width: 1440px;
  }
}
