.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px 0px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.025;
  letter-spacing: -0.02em;
  color: var(--color-text);
  margin-bottom: 20px;
}
.subtitle {
  font-style: italic;
  color: var(--color-primary);
}
.desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--color-text);
  margin-bottom: 18px;
}
.btn {
  border-radius: 30px;
  padding-block: 18px;
  padding-inline: 50px;
  width: 100%;
  height: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-bg);
  background-color: var(--color-primary);
  margin-bottom: 32px;
}
.btn:hover {
  background-color: var(--color-secondary);
  transform: translateX(2px);
  transition: transform 0.3s ease;
}
.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 464px;
  margin: 0 auto;
  /* overflow: hidden; */
}
img {
  display: block;
  border-radius: 10px;
}
.statBox {
  position: absolute;
  bottom: 25px;
  background-color: var(--color-primary);
  padding: 10px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  color: rgba(251, 251, 251, 0.5);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 8px;
}
.spanStrong {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.iconClick {
  border-radius: 10px;
  background-color: var(--color-bg);
  padding: 4px;
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  fill: var(--color-primary);
}
.iconQuestion {
  position: absolute;
  border-radius: 10px;
  background-color: #4535af;
  transform: rotate(-15deg);
  padding: 8px;
  top: 100px;
  left: 12px;
  width: 30px;
  height: 30px;
  fill: var(--color-bg);
}
.iconUsers {
  position: absolute;
  transform: rotate(15deg);
  background-color: #fbc75e;
  border-radius: 10px;
  padding: 6px;
  top: 12px;
  right: 12px;
  width: 35px;
  height: 35px;
  fill: var(--color-bg);
}
strong {
  font-weight: 700;
  font-size: 20px;
  color: var(--color-bg);
}

/* для планшетів */

@media screen and (min-width: 768px) {
  .container {
    /* padding-top: 35px; */
    padding-bottom: 50px;
  }
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    gap: 35px;
  }
  .title {
    width: 340px;
    font-size: 45px;
  }
  .desc {
    width: 340px;
    font-size: 16px;
  }
  .btn {
    border-radius: 30px;
    padding: 18px 50px;
    max-width: 235px;
    font-size: 20px;
    margin-bottom: 40px;
    align-items: center;
  }
  .statBox {
    bottom: 50px;
    left: -30px;
    padding: 10px;
    font-size: 15px;
  }
  .iconClick {
    width: 32px;
    height: 32px;
  }
  .iconQuestion,
  .iconUsers {
    padding: 8px;
  }
  .iconQuestion {
    left: -12px;
  }
  .iconUsers {
    right: -12px;
  }
  strong {
    font-size: 18px;
  }
}

/* для десктопа */

@media screen and (min-width: 1440px) {
  .container {
    padding-top: 30px;
    padding-bottom: 100px;
  }
  .hero {
    display: flex;
    gap: 125px;
    text-align: left;
  }
  .title {
    width: 595px;
    font-size: 80px;
  }
  .desc {
    width: 510px;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .btn {
    max-width: 235px;
    height: 60px;
    margin: 0;
  }
  .statBox {
    width: 311px;
    padding: 32px;
    left: -101px;
    bottom: 75px;
    border-radius: 20px;
    gap: 16px;
  }
  strong {
    font-size: 24px;
  }
  .iconQuestion {
    width: 40px;
    height: 40px;
    padding: 10px;
    top: 185px;
    left: -35px;
  }
  .iconUsers {
    width: 59px;
    height: 59px;
    padding: 17px;
    top: 38px;
    right: -44px;
  }
}
