.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(25, 26, 21, 0.6);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 100%;
  overflow-y: auto;
  padding: 20px;
  z-index: 1000;
}
.modal {
  background-color: var(--color-bg);
  border-radius: 30px;
  padding: 24px;
  max-width: 100%;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  stroke-width: 2.5px;
  stroke: var(--color-text);
  background: transparent;
}
/* планшетна версія */
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 60px 128px;
  }
  .modal {
    padding: 40px;
    /* max-width: 500px; */
  }
  .close {
    top: 15px;
    right: 15px;
  }
}

/* десктопна */
@media screen and (min-width: 1440px) {
  .backdrop {
    padding: 145px 437px;
  }
  .modal {
    padding: 64px;
  }
  .close {
    top: 20px;
    right: 20px;
  }
}
