.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(25, 26, 21, 0.6);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 100%;
  overflow-y: auto;
  padding: 20px;
  z-index: 1000;
}
.modal {
  background-color: #fbfbfb;
  border-radius: 30px; /* повноекранна модалка */
  padding: 24px;
  max-width: 100%;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  stroke: #191a15;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
/* планшетна версія */
@media (min-width: 768px) and (max-width: 1024px) {
  .backdrop {
    padding: 60px 128px;
  }
  .modal {
    padding: 40px;
    /* max-width: 500px; */
  }
}

/* десктопна */
@media (min-width: 1025px) {
  .backdrop {
    padding: 145px 437px;
  }
  .modal {
    padding: 64px;
  }
  .close {
    top: 20px;
    right: 20px;
  }
}
