.psychologists {
  padding: 32px 0 100px 0;
  /* background-color: var(--color-bg-socondary); */
}
.psychologist {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 40px;
}
.btn {
  border-radius: 30px;
  padding: 14px 48px;
  width: 176px;
  height: 48px;
  background-color: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--color-bg);
  display: flex;
  margin: 0 auto;
  margin-top: 64px;
}
.btn:hover {
  background-color: var(--color-secondary);
  transform: translateY(-2px);
}
