.psychologistCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: var(--color-bg);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.2s ease;
}
.psychologistCard:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}
.left {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
}
.avatarCont {
  border: 2px solid rgba(84, 190, 150, 0.2);
  border-radius: 30px;
  width: 120px;
  height: 120px;
  display: flex;
  padding: 12px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.avatarCont > svg {
  position: absolute;
  top: 9px;
  right: 14px;
}
.avatar {
  border-radius: 15px;
  width: 96px;
  height: 96px;
  object-fit: cover;
}
.titleContent {
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 25px;
}
.title h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: var(--color-text);
  margin: 0;
  /* margin-bottom: 12px; */
}
.spanSpan {
  font-size: 16px;
  font-weight: 500;
  color: #8a8a89;
  margin-right: 6px;
}
.meta {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.meta > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text);
  margin: 0;
}
.star {
  margin-right: 8px;
}
.price {
  color: #38cd3e;
}
.heartButton {
  stroke-width: 2px;
  fill: var(--color-bg);
  stroke: var(--color-text);
}
.details {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  font-size: 14px;
  color: #555;
}
.details > li {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #8a8a89;
  border-radius: 20px;
  padding: 6px 12px;
  background-color: var(--color-bg);
  width: auto;
}
.value {
  color: var(--color-text);
}
.about {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
}
.readMore {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-text);
  text-align: start;
}
@media screen and (min-width: 768px) {
  .psychologistCard {
    gap: 32px;
    padding: 24px;
    flex-direction: row;
  }
  .left {
    justify-content: start;
  }
  .right {
    gap: 16px;
  }
  .titleContent {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .title {
    gap: 10px;
    margin-bottom: 0;
  }
  .meta {
    gap: 20px;
  }
  .meta > p {
    font-weight: 500;
    font-size: 16px;
  }
  .details > li {
    font-size: 16px;
    border-radius: 24px;
    padding: 8px 16px;
  }
  .about {
    font-size: 16px;
  }
  .readMore {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .meta {
    gap: 32px;
  }
}
