.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  margin-left: auto;
  gap: 5px;
  padding: 5px 10px;
  background-color: var(--color-primary);
}
.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-bg);
  text-align: end;
}

.select {
  padding: 8px 12px;
  border-radius: 15px;
  border: none;
  background-color: var(--color-bg);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}
@media screen and (min-width: 768px) {
  .wrapper {
    width: 200px;
  }
}
@media screen and (min-width: 1440px) {
  .wrapper {
    width: 250px;
    margin-bottom: 10px;
  }
  .label,
  .select {
    font-size: 14px;
  }
}
