*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #54be96;
  --color-secondary: #36a379;
  --color-accent: rgba(84, 190, 150, 0.2);
  --color-bg: #fbfbfb;
  --color-bg-secondary: #f3f3f3;
  --color-text: #191a15;
  --color-border: 2px solid rgba(84, 190, 150, 0.2);
}
[data-theme="blue"] {
  --color-primary: #3470ff;
  --color-secondary: #255ee8;
  --color-accent: rgba(52, 112, 255, 0.2);
  --color-border: 2px solid rgba(52, 112, 255, 0.2);
}
[data-theme="orange"] {
  --color-primary: #fc832c;
  --color-secondary: #f37113;
  --color-accent: rgba(252, 131, 44, 0.2);
  --color-border: 2px solid rgba(252, 131, 44, 0.2);
}

body {
  font-family: var(--font-inter), sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg-secondary);
  line-height: 1.5;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}
main {
  flex-grow: 1;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Inter, sans-serif;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
